/* font  */

@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');

/* reset */
* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}
ul,ol {
    list-style:none;

}
a {
    color: currentColor;
    text-decoration:none;
}
img {
    max-width: 100%;
}
/* text */
.text-white {
    font-family: "Almarai", sans-serif;
    color: white;
    text-wrap: nowrap;
    font-size:18px;
    
    

}
.text-center {
    font-size:25px;
    text-align: center;
}
.section-1 > h1 {
    margin-bottom: 45px;
    font-size: 60px;
    font-weight: 500;
}
.section-2 > h1 {
    text-wrap:nowrap;
    margin-bottom: 45px;
    font-size: 50px;
    font-weight: 600;
}
.section-1 p, .section-2 p{
    margin-bottom: 10px;
}
.section-1 p:last-of-type {
    margin-bottom: 20px;

}
.section-2 p {
    text-wrap:nowrap;
    font-size:25px;
}
/* logo  */
.header-container > a:first-of-type {
    flex-shrink: 0;
}


/* button */
.header-container > a:last-of-type {
    
    text-align: center;
    
}
.section-1 .button-style-1,.section-1 .button-style-2 {
    font-size: 20px;
    padding: 15px 15px;
}
.button-style-1 {
    color: black;
    background-color: white;
    border-radius: 999px;
    padding: 5px 10px;
    
}
.button-style-2 {
    color: white;
    background-color:rgb(19, 18, 18) ;
    border-radius: 999px;
    padding: 5px 10px;
    margin-left: 100px;
    
}

/* layout */
.container {
    max-width: 1000px;
    margin:0 auto;
    padding:0 2rem;
    
}
/* background */
header {
    padding:20px 0;
    background-color: rgb(40, 92, 236);
    
}

.background {
    background-image: URL("../img/jumbo.png");
    background-position: center;
    background-size: cover;
    height:708px;
    width: auto;
    display: flex;
}


.header-container {
    padding:0 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list-header {
    display: flex;
    justify-content: center;
    gap:60px;
    
    padding: 6px 0;
    flex-grow:13;
}

/* debug */
.debug.header-container {
    background-color: orange;
    border: 2px solid black;
    min-height: 50px;
    

}
.debug.header {
    background-color: rgb(9, 219, 238);
    
}
.debug.second {
    border-left: 2px solid black;
    border-right: 2px solid black;
}
.debug.section-1 {
    background-color: blue;
    padding:30px 0;
}
.debug.sectiondiv-1 {
    background-color:rgb(165, 12, 158);
    min-height: 100px;
    
    border:2px solid black;
}
.debug.section-2 {
    background-color: rgb(240, 238, 236);
    
}
.debug#div-section-3 {
    min-height: 450px;
    background-color: green;
}


.debug.col-66{
    min-height: 250px;
    background-color: rgb(7, 7, 152);
    border: 2px solid black;
}
.debug.col-33{
    background-color: rgb(228, 169, 179);
    border:2px solid black;
    
}
.debug#reverse-color-1{
    background-color: rgb(228, 169, 179);
}
.debug#reverse-color-2{
    background-color: rgb(7, 7, 152);
}
.debug#different-color {
    background-color: grey;
}
.debug#reverse {
    background-color: gray;
}
.debug#section-3 {
    background-color: gray;
}
.debug.col-33.background-small {
    min-height:450px;
    background-color: rgb(6, 106, 49);

}
.debug.col-66.background-big {
    background-color: rgb(169, 72, 104);
}
.debug#dark-background {
    background-color: rgb(52, 48, 48);
}
footer.debug {
    background-color: rgb(52, 48, 48);
    border-top: 2px solid white;
}
.debug.row.section-2#full-background {
    background-color: rgb(52, 48, 48);

}
.debug.header-container#light-background {
    background-color: aqua;
}



.first {
    flex-grow:1;
}
.header-container :last-child {
    text-align: right;
}

/* section-1 */

.container.sectiondiv-1 {
    display: flex;
    aspect-ratio: 3/1;
    max-width: 800px;
    align-items: center;
    

}
.container.sectiondiv-2 {
    padding:0;
}
section .section-1 {
    padding:10px 0;
}
.row.section-2 {
    display:flex;
    padding: 70px 0;
}

.col-66 {
    
    flex-grow: 2;
    
}
.col-33 {
    
    flex-grow:1;
}

#reverse {
    flex-direction: row-reverse;
    
    
}
.container#div-section-3 {
    max-width: 900px;
}
footer {
    padding:10px 0;
}
#light-background {
    justify-content: space-between;
}
.item-header.first.nogrow {
    flex-grow: 0;
    background-color: lightgray;
    padding:5px;
}
